* {
	margin: 0;
	padding: 0;
	/*清除标签默认边距*/
}

body {
	margin: 0;
    min-width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/*头部*/
header {
	width: 100%;
	background-color: #333;
	color: #fff;
}

header .main {
	margin: 0 auto;
	width: 960px;
	height: 80px;
	overflow: auto;
}

h2 {
	display: inline-block;
	line-height: 80px;
}

.nav {
	float: right;
	margin-top: 10px;
}

a {
	margin-right: 10px;
	color: #fff;
}

/*banner*/
.banner {
	width: 100%;
	background-color: #6b3;
}

.banner .carousel {
	position: relative; /*设置父元素为相对定位*/
	margin: 0 auto;
	width: 960px;
	height: 300px;
}

ol {
	position: absolute;
	right: 0;
	bottom: 10px;
    list-style:none;
}

li {
	display: inline-block;
	width: 28px;
	height: 33px;
	border: 1px solid #000;
	vertical-align: bottom; /*设置li元素为底部对齐*/
	background-color: #fff;
	font-size: .8em;
	line-height: 35px;
	text-align: center;
    opacity: .5;
}

ol .active {
	padding-top: 15px; 
	opacity: .9;
}

/*主导航*/
.main-nav {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #ddd;
}

.menu {
	margin: 0 auto;
	width: 960px;
}

button {
	margin: 20px -4px 0 0;
	width: 120px;
	height: 50px;
    border: 1px solid #ddd;
    border-bottom: none; /*去除底部边框*/
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #eee;
}

.menu .active {
	height: 51px;
	padding-bottom: 1px; /*遮挡HOME button下面的边框*/
	background-color: #fff;
}

/*主内容*/
.main-content {
	margin: 10px auto;
	width: 960px;
}

.content {
	display: -webkit-flex; /* Safari */
  	display: flex;
  	text-align: center;
}

.content-item {
	display: -webkit-inline-flex;
	display: inline-flex;
	flex: 1;
	justify-content: center; /*居中*/
    align-items: center; /*交叉轴的中点对齐。*/
	margin: 5px;
	padding: 80px;
	height: 176px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	font-size: .8em;
}

/*底部*/
footer {
	width: 100%;
	text-align: center;
	background-color: #666;
}
p {
	margin: 0 auto;
	padding-top: 20px;
	width: 960px;
	height: 80px;
	color: #fff;
}
