* {
	margin: 0;
	padding: 0;
}

body {
	background: url(http://img.hb.aicdn.com/928e36fe021660c04396d3564b080f186d1a953a1b813-M34Ixm_fw658) no-repeat left top;
	/*设置背景完全覆盖页面*/
	background-size:100%;
}

.main {
	margin: 20px auto;
	width: 70%;
	/*height: 100%;
	overflow:hidden;*/ /*解决自动高度的就不显示背景的方法1*/
	background: #EAEAEA;
	line-height: 180%; /*设置页面所有字体的行距*/
}

.main-left {
	float: left;
	width: 30%;
	margin-right: 2%;
	background: #39393B;
	color: #767676; /*设置字体颜色*/
}

.main-left img { /*设置图片大小，为了右边留出空隙*/
	width: 96%;
}

.main-left .profile {
	margin:40px 10% 0 10%;
	width: 80%;
}

.main-left .profile ul li {
	list-style: none; /*去除li元素前面默认的圆点*/
}

.main p, .main-left .text{
	font-size: 0.8em;
}

.main-left .text { /*将span标签和a标签设为块级元素，然后设置文字缩进*/
	display:inline-block;;
	text-indent:1.6em;
}

.main-left hr {
	margin: 20px 0;
	height: 1px;
	border: none; /*其实，hr是有默认的border的，我们需要将它的边框去掉,否则无法修改样式*/
	background-color: #767676; /*设置分割线的颜色*/
}

.main-left .contact, .main-left i ,.main-left h4 { /*设置字体图标和联系信息的字体*/
	font-size: 1.2em;
	font-weight: 500;
	color: #fff;
}

a { /*为所有的a标签设置默认颜色和去除下划线*/
	color: #767676; 
	text-decoration: none;
}

a:hover {
	font-weight: 900;
}

.main-right {
	padding-top: 50px;
	float: left;
	width: 68%;
	background: #fff;
}

.main-right .fa-quote-left {
	margin-left: 15%;
	font-size: 3em;
}

.main-right .fa-quote-right {
	margin-left: 80%;
	font-size: 3em;
}

.main-right .message {
	padding: 30px 0;
	text-align: center;
}

.main-right .message .name { /*设置名字的属性*/
	letter-spacing: 10px;
	font-size: 1.6em;
	font-weight: 600;
	color: #000;
}

.main-right .message .job {
	margin-bottom: 20px;
	font-size: 0.6em;
	color: #767676;
}

.main-right .message .skill {
	font-weight: 650;
	color: #39393B;
}

.main-right .message .mixed-ability {
	font-size: 0.6em;
	letter-spacing: 10px;
}

.main-right .experience  {
	margin:100px auto;
	width: 70%;
}

.main-right .experience .title {
	margin-bottom: 50px;
	font-size: 1.2em;
	font-weight: 600;
}

.main-right .experience ul li {
	margin: 0 0 50px 20px;
	line-height: 200%;
	/*list-style: inside;*/
	/*为了让li元素与"experience"对齐，list-style:inside;是说数字或者方格样式在li的里面，他是占用li的宽度的，而outside则是在li的外面，他不占用li的宽度。*/
}

.main-right .experience span {
	margin-bottom: 100px;
	font-weight: 600;
}

.clear {
	clear: both;
}
